<a href="https://colab.research.google.com/github/sawsanzaky/Portfolio-Risk-Management/blob/main/Scaling_volatility%26Moments_of_distributions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
!git clone https://github.com/sawsanzaky/Portfolio-Risk-Management

Cloning into 'Portfolio-Risk-Management'...
remote: Enumerating objects: 18, done.
remote: Counting objects: 100% (18/18), done.
remote: Compressing objects: 100% (16/16), done.
remote: Total 18 (delta 2), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (18/18), done.



---



---

In [4]:
StockPrices = pd.read_csv("/content/Portfolio-Risk-Management/Microsoft Prices.csv")
print(StockPrices.head(2))
StockPrices.columns

         Date    Open    High     Low     Close    Volume   Adjusted
0  2000-01-03  88.777  89.722  84.712  58.28125  53228400  38.527809
1  2000-01-04  85.893  88.588  84.901  56.31250  54119000  37.226345

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adjusted'], dtype='object')

In [5]:
StockPrices = StockPrices.sort_values(by='Date')
StockPrices

            Date    Open    High     Low      Close    Volume   Adjusted
0     2000-01-03  88.777  89.722  84.712  58.281250  53228400  38.527809
1     2000-01-04  85.893  88.588  84.901  56.312500  54119000  37.226345
2     2000-01-05  84.050  88.021  82.726  56.906250  64059600  37.618851
3     2000-01-06  84.853  86.130  81.970  55.000000  54976600  36.358688
4     2000-01-07  82.159  84.901  81.166  55.718750  62013600  36.833828
...          ...     ...     ...     ...        ...       ...        ...
4556  2018-02-12  89.157  90.202  88.343  89.129997  35720300  88.713272
4557  2018-02-13  89.348  90.423  88.212  89.830002  26407700  89.410004
4558  2018-02-14  88.510  90.990  88.410  90.809998  34960900  90.809998
4559  2018-02-15  91.210  92.720  90.620  92.660004  27823900  92.660004
4560  2018-02-16  92.450  93.500  91.800  92.000000  30557400  92.000000

[4561 rows x 7 columns]

**Moments of distributions**

Probability distributions have the following moments:
1.   Mean(μ)
2.   Variance(σ)
3.   Skewness
4.   Kurtosis2

In [11]:
# Import numpy as np
import numpy as np

# Calculate the average daily return of the stock
mean_return_daily = np.mean(StockPrices['Returns'])
print("................Mean(μ).....................")
print('mean of return - daily : ' , mean_return_daily)

# Calculate the implied annualized average return
mean_return_annualized = ((1+mean_return_daily)**252)-1
print('mean of return - annualized:',mean_return_annualized)

................Mean(μ).....................
mean of return - daily :  0.00037777546435757725
mean of return - annualized: 0.09985839482858783

In [14]:
# Calculate the standard deviation of daily return of the stock
sigma_daily = np.std(StockPrices['Returns'])
print("................Variance(σ).....................")
print("(σ)2 : ",sigma_daily)

# Calculate the daily variance
variance_daily = sigma_daily**2
print("Variance(σ) ; " ,variance_daily)
# Annualize the standard deviation
sigma_annualized = sigma_daily*np.sqrt(252)
print(sigma_annualized)

# Calculate the annualized variance
variance_annualized = sigma_annualized**2
print(variance_annualized)

................Variance(σ).....................
(σ)2 :  0.019341100408708328
Variance(σ) ;  0.0003740781650197374
0.3070304505826317
0.09426769758497383

In [17]:
print("...............Skewness....................")
# Import skew from scipy.stats
from scipy.stats import skew

# Drop the missing values
clean_returns = StockPrices['Returns'].dropna()

# Calculate the third moment (skewness) of the returns distribution
returns_skewness = skew(clean_returns)
print(returns_skewness)

...............Skewness....................
0.21935459193067852

In [18]:
# Import kurtosis from scipy.stats
from scipy.stats import kurtosis

print("...............kurtosis..............")
# Calculate the excess kurtosis of the returns distribution
excess_kurtosis = kurtosis(clean_returns)
print(excess_kurtosis)

# Derive the true fourth moment of the returns distribution
fourth_moment = excess_kurtosis + 3
print(fourth_moment)

...............kurtosis..............
10.31457261802553
13.31457261802553

**Statistical tests for normality**

In [19]:
# Import shapiro from scipy.stats
from scipy.stats import shapiro

# Run the Shapiro-Wilk test on the stock returns
shapiro_results = shapiro(clean_returns)
print("Shapiro results:", shapiro_results)

# Extract the p-value from the shapiro_results
p_value = shapiro_results[1]
print("P-value: ", p_value)

Shapiro results: (0.9003633260726929, 0.0)
P-value:  0.0